
.x-form-text,textarea.x-form-field{background:#fff;border-color:#B5B8C8; }
.x-form-focus,textarea.x-form-focus{ background:#FFF6AA;background-color: #FFF6AA; border-color:#7eadd9;}
.x-form-invalid,textarea.x-form-invalid{background:#fff ;border-color:#dd7870;}
.x-grid3-cell-selected{background:#FFF6AA;background-color:#FFF6AA!important;color:black;}


span.dcName { color:black;padding-right:4px; font-size:10px; }


.gui_title {
  background-color:#dfe8f6;
  font-family: arial,sans-serif,tahoma,verdana,arial;
  font-size:16px;
  height:22px;
  padding-top:4px;
  font-weight:bold;
}
.field_important_1  {
  background-color: #CFF6BA!important;
  background: #CFF6BA!important;
  font-weight:bold;
}
.cellClsAlignTop {
  vertical-align:top;
  padding-right:10px;
}